.floating-lines-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.floating-lines-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
/* .floating-lines-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
} */